@model IEnumerable<TeliaCore.Models.Room>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Nr
        </th>
        <th>
            Location
        </th>
        <th>
            NumberOfSeats
        </th>
        <th>
            InternetAvailable
        </th>
        <th>
            ProjectorAvailable
        </th>
        <th>
            PhoneAvailable
        </th>
        <th>
            WhiteboardAvailable
        </th>
        <th>
            VideoconferenceAvailable
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfSeats)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternetAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectorAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WhiteboardAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VideoconferenceAvailable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
