@model TeliaCore.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RefreshmentItem</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">Size</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Size)
    </div>

 </fieldset>
<p>
    @Html.ActionLink("Edit", "ProductEdit","Admin", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
